@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {

  font-family: "Geist", sans-serif;
 

  
}
body{
    padding: 0;
  margin: 0;
  box-sizing: border-box;
     background-color: #0B0A0D;
}

.number{
   font-family: "Geist Mono", monospace;
}
@keyframes glow {
  0% {
    opacity: 0.8;
    transform: scale(1) rotate(0deg);
  }
  50% {
    opacity: 1.2;
    transform: scale(1.3) rotate(180deg);
  }
  100% {
    opacity: 0.8;
    transform: scale(1) rotate(360deg);
  }
}

.animate-glow {
  animation: glow 7s ease-in-out infinite;
}

